
/Android/youfood-android/target
/Android/youfood-android/.classpath
/Android/youfood-android/.project
/Android/youfood-android/.settings
/Android/youfood-android/.idea
/Android/youfood-android/youfood-android.iml
/Android/youfood-android/youfood-android.eml
/Android/youfood-android/bin
/Android/youfood-android/gen