/.idea
/YouFood.iml
/out
/target
/web-services/.idea
/web-services/out
/web-services/target
/web-services/web-services.iml
/android-app/target
/android-app/.classpath
/android-app/.project
/android-app/.settings
/android-app/.idea
/android-app/android-app.iml
/android-app/bin
/android-app/gen
/web-app/.idea
/web-app/out
/web-app/target
/web-app/web-app.iml
/web-site/.idea
/web-site/out
/web-site/target
/web-site/web-site.iml
/core/core.iml
/core/target
/core/src/main/resources/META-INF/persistence.xml